<% script = "" %>
<%
if logged_in?
script += <<-JS
  window.bacefook.currentUser = #{current_user.uuid}
  window.bacefook.preloadedState = #{render_json_as_string path: "/"}
JS
end
if true
script += <<-JS
  window.bacefook.requestedPath = '#{request.env['PATH_INFO']}'
JS
end
%>

<% unless script.empty? %>
<script>
  window.bacefook = {
    images: <%= image_paths %>
  }
<%= script.html_safe %>
</script>
<% end %>

<div id="root">React is broken</div>
