/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 */

/* Prototyping */
.splash-outer {
  min-width: 980px;
}
.splash-header {
  display: grid;
  grid-template-columns: 1fr 580px 400px 1fr;
  align-items: center;
  height: 82px;
  background: #4267b2;
}

.login-form {
  justify-self: end;
}

.splash-logo {
  width: 170px;
  height: 33px;
  margin-top: 17px;
  grid-column: 2;
}

.splash-main {
  display: grid;
  grid-template-columns: 1fr 580px 400px 1fr;
  margin: 0;
  padding: 20px 0;
  background: #e9ebee;
}

.splash-welcome {
  grid-column: 2;
  margin: 0;
  max-width: 580px;
}

.splash-welcome-emphasis {
  font-weight: bold;
}

.splash-footer {
  width: 980px;
  margin: auto;
  background: #fff;
}

.splash-footer-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.splash-footer-nav li {
  padding-right: 20px;
}