.main-header {
  min-width: 1012px;
  height: 42px;
  color: #fff;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  display: flex;
}

.main-header-icon-wrapper {
  display: block;
  width: 24px;
  height: 24px;
}

.main-header-icon {
  width: 24px;
  height: 24px;
}

.main-header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1012px;
  height: 100%;
  margin: 0 auto;
}

.main-header button.logout-button {
  font-weight: bold;
  margin: 0;
  padding: 0 6px;
  min-height: 24px;
  font-size: 12px;
  color: #fff;
  background: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  text-align: center;
}
