.post-form-container {
  border: 1px solid  #dadde1;
  border-radius: 3px;
  margin-bottom: 12px;
}

.post-form-container-focus {
  position: relative;
  z-index: 1;
}

.post-form-header {
  display: flex;
  margin: 0;
  padding: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid  #dadde1;
  background: #f5f6f7;
}

.post-form-header h3 {
  position: relative;
  margin: 3px;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 14px;
  color: #4b4f56;
  cursor: pointer;
}

.post-form-header-separator {
  border-left: 1px solid #dadde1;
  margin: 7px 0;
}

.post-form-header-active-tab {
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform-origin: bottom right;
  transform: translateX(-50%) rotateZ(-45deg);
  width: 0;
  height: 0;
  border: 6px solid rgba(1,1,1,0);
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  box-shadow: 1px -1px 1px #dadde1;;
}

.create-post-icon, .photo-video-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.create-post-icon {
  background-position: -86px -788px;
}

.photo-video-icon {
  width: 16px;
  height: 15px;
  background-position: -34px -684px;
}

.post-form {
  background: #fff;
  margin: 0;
  padding-bottom: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  z-index: 1;
}

.post-form-circular-image {
  width: 40px;
  height: 40px;
  margin: 12px;
  background-image: url('https://s3-us-west-1.amazonaws.com/bacefook-seeds/harry.jpg');
  background-size: cover;
  display: block;
  border-radius: 50%;
}

.post-form > textarea {
  width: 430px;
  padding: 12px;
  border-style: none;
  overflow: auto;
  outline: none;
  resize: none;
  overflow: auto;
}

.post-form-photos {
  display: none;
  align-self: stretch;
  width: 100%;
  padding: 12px;
}

.post-form-container-focus .post-form-photos.active {
  display: flex;
  flex-wrap: wrap;
}

.post-form-photos-thumb, .post-form-photos-input-file {
  width: 100px;
  height: 100px;
  margin-top: 6px;
  margin-right: 6px;
}

.post-form-photos-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.post-form-photos-input-file {
  font-size: 30px;
  color: #ddd;
  text-align: center;
  line-height: 100px;
  border: 2px dashed #ddd;
  cursor: pointer;
  user-select: none;
}

.post-form-photos-input-file:hover {
  color: #bbb;
}

.post-form-share-button-wrapper {
  align-self: stretch;
  border: none;
  padding: 0;
  margin: 0;
}

.post-form-share-button {
  display: none;
  font-weight: bold;
  margin: 0;
  margin-right: 12px;
  padding: 0 60px;
  min-height: 24px;
  font-size: 12px;
  color: #fff;
  background: #4267b2;
  border: 1px solid #537bc2;
  border-radius: 2px;
  text-align: center;
}

.post-form-container-focus .post-form-share-button {
  display: inline-block;
}

.post-container {
  background: #fff;
  border: 1px solid  #dadde1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 12px 12px 0;
}

.post-header {
  position: relative;
}

.post-author {
  margin-left: 12px;
  margin-right: 27px;
}

i.post-dropdown-menu-icon {
  background-repeat: no-repeat;
  background-position: -105px -603px;
  width: 20px;
  height: 20px;
  display: block;
  margin-top: 10px;
  margin-right: 7px;
  float: right;
}

i.post-dropdown-menu-icon:hover {
  background-position: -105px -582px;
  cursor: pointer;
}

.post-dropdown-menu-list {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  top: 30px;
  font-size: 13px;
  color: #606770;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px #606770;
}

.post-dropdown-menu-list-visible {
  display: block;
}

.post-dropdown-menu-list > li {
  padding: 4px 24px;
  cursor: pointer;
}

.post-dropdown-menu-list > li:hover {
  color: #fff;
  background-color: #4267b2;;
}

.post-dropdown-menu-list > li:first-child {
  margin-top: 4px;
}

.post-dropdown-menu-list > li:nth-last-child(1) {
  margin-bottom: 4px;
}

.post-circular-image {
  width: 40px;
  height: 40px;
  margin: 0;
  background-image: url('http://widefide.com/wp-content/uploads/2012/07/Facebook-Anonymous.jpg');
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
}

.post-author, .post-circular-image {
  vertical-align: middle;
}

.post-body {
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-line;
}

.post-photos-container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 100%;
}

.post-photos {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.post-photos > div {
  overflow: hidden;
}

.post-photos > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.post-num-likes {
  font-size: 14px;
  line-height: 16px;
  color: #6a6d74;
}

i.post-num-likes-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 6px;
  vertical-align: text-bottom;
  position: relative;
  top: 1px;
}

.post-num-likes-icon-like {
  background-position: -19px -341px;
}

.post-num-likes-num {
  display: inline-block;
  padding: 12px 0;
}

.post-likes-and-comments {
  color: #606770;
  margin: 0;
  padding: 3px 0;
  border-top: 1px solid #dadde1;
  font-size: 13px;
  font-weight: bold;
}

.post-likes-and-comments > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-likes-and-comments > ul > li {
  padding: 8px 0px;
  display: block;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.post-like-logo, i.post-comment-logo {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

i.post-like-logo {
  background-position: -19px -246px;
}

.post-like-button-clicked-like i.post-like-logo {
  background-position: -21px -226px;
}

i.post-comment-logo {
  background-position: -83px -644px;
}

.post-like-button:hover {
  cursor: pointer;
  background: #eee;
  user-select: none;
  transition: transform 0.2s linear;
}

.post-like-button:active {
  transform: scale(0.95);
}

.post-like-button.post-like-button-clicked-like {
  color: #3784FF;
}
