.splash-outer {
  min-width: 980px;
}

.splash-main {
  display: grid;
  grid-template-columns: 1fr 580px 400px 1fr;
  margin: 0;
  padding: 20px 0;
  background: #e9ebee;
}

.splash-welcome {
  grid-column: 2;
  max-width: 580px;
  margin: 0;
  padding-right: 48px;
}

.splash-welcome > h1 {
  margin: 0;
  padding: 42px 0 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.splash-welcome ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.splash-welcome li {
  padding-top: 30px;
}

.splash-welcome li > * {
  vertical-align: middle;
}

.splash-welcome i {
  font-size: 56px;
  padding-right: 20px;
  color:#aabbca;
}

.splash-welcome span {
  color: #737373;
}

.splash-welcome .splash-welcome-emphasis {
  font-weight: bold;
  color: #000;
}
