.sprite {
  background-image: image-url("sprite.png");
  background-repeat: no-repeat;
  background-size: 49px 638px;
}

.sprite2 {
  background-image: image-url("sprite2.png");
  background-repeat: no-repeat;
  background-size: 140px 836px;
}

.sprite3 {
  background-image: image-url("sprite3.png");
  background-repeat: no-repeat;
  background-size: 21px 303px;
}

.sprite4 {
  background-image: image-url("sprite4.png");
  background-repeat: no-repeat;
  background-size: 53px 423px;
}
